<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VOTR by cyberbeast</title>
	<style>
table {
    border-collapse: separate;
    empty-cells: hide;
}
</style>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
	<link rel="stylesheet" type="text/css" href="css/cs-select.css" />
	<link rel="stylesheet" type="text/css" href="css/cs-skin-border.css" />
	<link rel="stylesheet" type="text/css" href="css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<script src="js/modernizr-custom.js"></script>
	
</head>

<body>
	<!-- navigation -->
	<nav class="pages-nav">
		<div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-vote">Vote</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-profile">Candidates</a></div>
		<% if (user){
			if(user.admin === true) { %>
			<div class="pages-nav__item"><a class="link link--page" href="#page-nominate">Nominate</a></div>
		<% 	} 
		   }	
		%>

		<% if (user) { %>
			<div class="pages-nav__item"><a class="link" href="/logout">Logout</a></div>
		<% } %>
	</nav>
	<!-- /navigation-->
	<!-- pages stack -->
	<div class="pages-stack">
		<!-- page -->
		<div class="page" id="page-home">
			<!-- Blueprint header -->
			<header class="bp-header cf">
				<% if (user) { %>
				<h1 class="bp-header__title">VOTR</h1>
				<hr>
				<span class="bp-header__present">open<br />voting<br/> platform</span>
				<br/>
			</header>

				<div class="container">
				<center><div>
							<section>
								<img src="<%= prof_pic.location %>" id="profile_pic">
								<h1 class="bp-header__present__FB"><%= user.displayName %></h1>
							</section>
						</div></center>
				</div>
					<!-- </div> -->
				<% } else { %>
					<h1 class="bp-header__title">VOTR</h1>
					<hr>
					<span class="bp-header__present">open<br />voting<br/> platform</span>
					<br/>

					</header>
				<% } %>
				<br/>
				<br/>
				<br/>
				<!-- <center><p class="info">PESITSouth ACM Student Chapter General Elections 2016</p></center> -->

			<% if (!user) { %>
			<p><center>Welcome! Please <a href="/login/facebook">log in</a>.</center></p>
			<% } %>
			<!-- <img class="poster" src="images/1.jpg" alt="img01" /> -->
		</div>
		<div class=page id="page-nominate">
			<header class="bp-header cf">
				<h1 class="bp-header__title">Nominate A Candidate</h1>
				<hr>
				<form method="POST" action="/nominate">
					<input type="text" name="uid" placeholder="Facebook User ID"/>
					<input type="submit" value="Nominate"/>
				</form>
			</header>
		</div>
		<!-- /page -->
		<div class="page" id="page-profile">
			<header class="bp-header cf">
				<h1 class="bp-header__title">2016 CANDIDATE PROFILES</h1>
				<hr>
				<p class="bp-header__desc">Read about this years' candidates here! </p>
				<p class="info">
					<ol> 
						<li>Sandesh Sanjay Gade</li>
					</ol>
				</p>
				<% for (var name in nominees) { %>
					<pre> <%= name %> </pre>
				<% } %>
				
			</header>
			<!-- <img class="poster" src="images/6.jpg" alt="img06" /> -->
		</div>
		<div class="page" id="page-vote">
			<header class="bp-header cf">
				<center><h1 class="bp-header__title">Cast My Vote!</h1></center>
				<hr>
				<center><p class="bp-header__desc">PESIT South ACM Student Chapter General Elections 2016</p></center>
			</header>
				<div class="container">
		<form action="/castvote" method="POST">
			<center><div><section>
				<div>
					<select 
						class="cs-select cs-skin-border" 
						name="chair">
						<option value="" disabled selected>Chairman</option>
						<% for (name in nominees) { %>
							<option value="<%= name %>"><%= name %></option>
						<% } %>
					</select>
				</div>
				<br />
				</section>
				<section>
				<div>	
					<select class="cs-select cs-skin-border" name="vice_chair">
						<option value="" disabled selected>Vice-Chairman</option>
						<% for (name in nominees) { %>
							<option value="<%= name %>"><%= name %></option>
						<% } %>
					</select>
				</div>
				<br />
				</section>
				<section>
				<div>
					<select class="cs-select cs-skin-border" name="treasurer">
						<option value="" disabled selected>Secretary</option>
						<% for (name in nominees) { %>
							<option value="<%= name %>"><%= name %></option>
						<% } %>
					</select>
				</div>
				<br />
				</section>
				<section>
				<div>
					<select class="cs-select cs-skin-border" name="secretary">
						<option value="" disabled selected>Treasurer</option>
						<% for (name in nominees) { %>
							<option value="<%= name %>"><%= name %></option>
						<% } %>
					</select>
				</div>
				<br />
				</section>
				
				<section>
					<button type="submit" 
					class="button button--pipaluk button--inverted button--round-l button--text-thick button--text-upper"
					id="vote_submit"
					formmethod="post">Submit</button>
				</section>
			</div></center></form>

			</div>
		</div>
	</div>
	<!-- /pages-stack -->
	<% if (user) { %>
	<button class="menu-button"><span>Menu</span></button>
	<% } %>
	<script src="js/classie.js"></script>
	<script src="js/main.js"></script>
	<script src="js/selectFx.js"></script>
	<script src="js/jquery.js"></script>
	<script>
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
				new SelectFx(el);
			} );
		})();
	</script>
	<script>
		(function() {
			var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
			if(isSafari) {
				document.getElementById('support-note').style.display = 'block';
			}
		})();
	</script>
</body>

</html>
